attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
codecov==2.1.11
coverage==5.5
future==0.18.2
idna==2.10
Jinja2==3.0.1
joblib==1.0.1
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.4
MarkupSafe==2.0.1
mkdocs==1.2.3
more-itertools==8.7.0
nltk==3.6.5
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.1
pytest-cov==2.12.0
PyYAML==5.4.1
regex==2021.8.3
requests==2.25.1
six==1.16.0
toml==0.10.2
tornado==6.1
tqdm==4.60.0
ujson==4.0.2
urllib3==1.26.5
wcwidth==0.2.5
